<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon/png" href="{% static 'logos/logo-black.png' %}">

    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>

<div class="d-flex flex-column min-vh-100">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light shadow px-5">
        <a class="navbar-brand font-weight-bold" href="{% url 'home' %}"><img src="{% static 'logos/logo-black.png' %}" width="30" height="20"> StoryKeeper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if genre %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Genres
                    </a>
                    <div class="dropdown-menu">
                        {% for igenre in genre %}  
                        <a class="dropdown-item" href="{% if igenre.slug %}{% url 'category' igenre.slug %}{% endif %}">{{ igenre.name }}</a>
                        {% endfor %}
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link">
                        <strong>
                            <i class="fas fa-user"></i>
                            {{ user.username }}
                        </strong>
                    </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'cart' %}">
                    <i class="fa fa-cart-plus"></i> Cart</a>
                </li>
                {% else %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">
                    <i class="fas fa-sign-in-alt"></i> Login</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">
                    <i class="fas fa-user-plus"></i> Signup</a>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% include 'messages.html' %}
    
    <div class="container-fluid flex-grow-1">
        {% block content %} {% endblock %}
        <!-- Pagination Controls -->
        {% if books.has_other_pages %}
        <div class="container-fluid mt-4">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <ul class="pagination justify-content-center">
                        {% if books.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">&#8676; First</a>
                            </li>
                        {% endif %}
                        {% if books.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ books.previous_page_number }}">&#8668; Previous</a>
                            </li>
                        {% endif %}
                        <li class="page-item disabled">
                            <span class="page-link">Page {{ books.number }} of {{ books.paginator.num_pages }}</span>
                        </li>
                        {% if books.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ books.next_page_number }}">Next &#8669;</a>
                            </li>
                        {% endif %}
                        {% if books.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ books.paginator.num_pages }}">Last &#8677;</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <footer id="pageFooter" class="footer text-dark py-5 mt-5" style="background-color:rgb(124, 212, 136);">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4><b>About App</b></h4>
                    <p>This is a evaluation project for the internship program.<br>
                    This project is created with Django and Bootstrap</p>
                </div>
                <div class="col-md-3">
                    <h4><b>Quick Links</b></h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-dark">&nbsp;&nbsp;Dummy link</a></li>
                        <li><a href="#" class="text-dark">&nbsp;&nbsp;Dummy link</a></li>
                        <li><a href="#" class="text-dark">&nbsp;&nbsp;Dummy link</a></li>
                        <li><a href="#" class="text-dark">&nbsp;&nbsp;Dummy link</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4><b>Contact </b></h4>
                    <address>
                        <p>&nbsp;<i class="fa fa-map-marker"></i> Raman Chauhan</p>
                        <p>&nbsp;<i class="fa fa-envelope"></i> ramanchauhanxx@gmail.com</p>
                        <p>&nbsp;<i class="fa fa-phone"></i> +91 ----------</p>
                    </address>
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</body>
</html>