{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% load static %}

{% load crispy_forms_tags %}

<div class='container-fluid my-3 d-flex justify-content-center'>
    <h2 class="text-success"><b>Stories we have for you </b></h2>
    <form class="form-inline my-2 ml-5 my-lg-0" role='search', method='get', action="{% url 'home' %}">
        <input class="form-control mr-sm-2" name='search' type="search" placeholder="Find yours" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
{% if error_message %}
    <p class="error-message text-danger text-center"><b>{{ error_message }} &#128519;</b></p>
{% endif %}
<div class="container mt-4">
    <div class="row">
        <!-- Product Cards -->
        {% for book in books %}
        <div class="col-md-4 mb-4">
            <div class="card product-card">
                <a href="{% url 'book_detail' book.id %}"><img src="{% static 'images/thumbnail.jpg' %}" class="card-img-top" alt="{{ book.title }}"></a>
                <div class="card-body">
                    <a href="{% url 'book_detail' book.id %}"class="text-success" ><h5 class="card-title">{{ book.title }}</h5></a>
                    <small>
                        <p class="card-text text-info">{{ book.genre }} | <span class="card-text">By: {{ book.author }}</span></p></small><br>
                        <small class="text-bold">
                            <p class="card-text">Quantity:{% if book.quantity > 0 %} {{ book.quantity }} {% else %}<span class="text-success"> Out of stock</span>{% endif %}</p>
                            <p class="card-text">Price: &#8377; {{ book.price }}</p>
                            <p class="card-text">Average Rating: {% if book.average_rating %}{{ book.average_rating|floatformat:'0' }} &#9733; out of 5 &#9733;{% else %}Not rated{% endif %}</p>
                        </small><br>
                    <div class="d-flex">
                        <form method="post" action="{% url 'add_to_cart' book.id %}">
                            {% csrf_token %}
                            {{ cart_form|crispy }}
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </form>
                        <a href="{% url 'cart' %}" class="btn btn-warning ml-2">Buy</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Pagination Controls -->
{% if books.has_other_pages %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <ul class="pagination justify-content-center">
                {% if books.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&#8676; First</a>
                    </li>
                {% endif %}
                {% if books.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ books.previous_page_number }}">&#8668; Previous</a>
                    </li>
                {% endif %}
                <li class="page-item disabled">
                    <span class="page-link">Page {{ books.number }} of {{ books.paginator.num_pages }}</span>
                </li>
                {% if books.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ books.next_page_number }}">Next &#8669;</a>
                    </li>
                {% endif %}
                {% if books.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ books.paginator.num_pages }}">Last &#8677;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}