{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}

{% block content %}

<div class="container-fluid my-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header h3">
                    Shipping Address
                    <a href="{% url 'add_shipping_address' %}" class="btn btn-primary float-right">Add Address</a>
                </div>
                <div class="card-body">
                    <form method="POST" class="shipping-address-form">
                        {% csrf_token %}
                        <h4>Default Shipping Address:</h4>
                        <i><strong class="text-success">{{ shipping_address.address }}
                            {{ shipping_address.city }},
                            {{ shipping_address.state }},
                            {{ shipping_address.zipcode }}
                        </strong></i><br><br>
                        <h4>Other Shipping Addresses:</h4>
                        {% if other_addresses %}
                            <ul class="list-group">
                                {% for address in other_addresses %}
                                <li class="list-group-item">
                                    {{ address.address }},
                                    {{ address.city }},
                                    {{ address.state }},
                                    {{ address.zipcode }}
                                    {% if address.is_default %}
                                    (Default)
                                    {% else %}
                                    <a href="{% url 'set_default_address' address.id %}" class="btn btn-link btn-sm text-success">Set as Default</a>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p>No other addresses available.</p>
                            {% endif %}
                        </select>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header h3">
                    Order Summary
                    <a  class="btn btn-outline-dark float-right" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Book Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart_item in cart_items %}
                                <tr>
                                    <td>{{ cart_item.books.title }}</td>
                                    <td>{{ cart_item.quantity }}</td>
                                    <td>&#8377; {{ cart_item.books.price }}</td>
                                    <td><strong>&#8377; {{ cart_item|calculate_subtotal }}</strong></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <p class="mt-3 btn btn-success mr-3">Place Order &#8377; {{ total_amount }}</p>
                    <p class="mt-3 btn btn-outline-dark text-bold float-right mr-3">Total: &#8377; {{ total_amount }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}