{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<!--login--> 
<div class="container py-5">
        <h2 class="text-center"><b>Log In</b></h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-row justify-content-center">
            <div class="col-6">
                {{ form.username|as_crispy_field }}
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-6">
                {{ form.password|as_crispy_field }}
            </div>
        </div>
        <div class="text-center">
            <button class="btn px-4 btn-primary" type="submit">Log In</button>
        </div>
    </form>
    <br><p class="text-center">Don't have an account? <a href="{% url 'signup' %}">Create an account</a></p>
</div>

{% endblock content %}